.App{
    display: grid;

    grid-template-rows: 10rem 1fr 1fr 10rem;
    grid-template-columns: 10rem 1fr 1fr 10rem;     
    grid-template-areas:        "margin-top     margin-top      margin-top      margin-top"
                                "margin-left    top-left        top-right       margin-right"
                                "margin-left    bot-left        bot-right       margin-right"
                                "margin-bot     margin-bot      margin-bot      margin-bot";
    width: 100%;
    height: 100vh;
   
}

.addPayer{
    grid-area: top-left;
}

.addPayment{
    grid-area: bot-left;
}

.owedOverview{
    grid-area: top-right;
}

.totalSpend{
    grid-area: bot-right;
}
