.btn{
    width: 15rem;
    height: 3rem;
    text-transform: uppercase;
    
    &--remove{
        height: 3rem;
        width: 3rem;
        text-align: center;
        margin-left:0.5rem;
        border-radius: 10px;
        &:hover{
            background-color: $color-warning;
        }
    }
}
