body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
}


.header__primary{
    color: $color-black;
    text-transform: uppercase;
    margin-bottom: 2rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 100;
        letter-spacing: 1rem;
        animation: moveInLeft 1s ease-in;

        @include respond(phone){
        letter-spacing: 0.5rem;
        font-size: 5rem;
        }
    }
    &--sub{
        display: block;
        font-weight: 400;
        animation:  moveInRight 1s ease-in;

        @include respond(phone){
            letter-spacing: 5px;
        
        }
    }
}

.header__sub{
    text-align: center;
    color:$color-black;
    font-size: 2.5rem;
    font-weight: 100;
    border-bottom: 1px solid black;
    width: 70%;
    margin: 0 auto;
}
.para-text{
    font-size: 2rem;
    width: 80%;
    margin: 0 auto;

}
