/*
order for responsive webdesign chages

Base + Typography > general layout + grid > page layout > components

*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS */ }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 62%; } }
  @media (max-width: 900px) {
    html {
      font-size: 55%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box;
  margin: 0 2rem;
  background-color: #eee; }
  @media (max-width: 900px) {
    body {
      margin: 0 0; } }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem; }

.header__primary {
  color: #2d3436;
  text-transform: uppercase;
  margin-bottom: 2rem; }
  .header__primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 1rem;
    animation: moveInLeft 1s ease-in; }
    @media (max-width: 780px) {
      .header__primary--main {
        letter-spacing: 0.5rem;
        font-size: 5rem; } }
  .header__primary--sub {
    display: block;
    font-weight: 400;
    animation: moveInRight 1s ease-in; }
    @media (max-width: 780px) {
      .header__primary--sub {
        letter-spacing: 5px; } }

.header__sub {
  text-align: center;
  color: #2d3436;
  font-size: 2.5rem;
  font-weight: 100;
  border-bottom: 1px solid black;
  width: 70%;
  margin: 0 auto; }

.para-text {
  font-size: 2rem;
  width: 80%;
  margin: 0 auto; }

.u-margin-bot--small {
  margin-bottom: 2rem; }

.u-margin-bot--medium {
  margin-bottom: 4rem; }

.u-margin-bot--large {
  margin-bottom: 12rem; }

.u-margin-bot--huge {
  margin-bottom: 24rem; }

.u-margin-top--small {
  margin-top: 2rem; }

.u-margin-top--medium {
  margin-top: 6rem; }

.u-margin-top--large {
  margin-top: 12rem; }
  @media (max-width: 1200px) {
    .u-margin-top--large {
      margin-top: 8rem; } }
  @media (max-width: 900px) {
    .u-margin-top--large {
      margin-top: 6rem; } }

.addPayer {
  background-color: #55efc4; }
  .addPayer__list {
    list-style: none;
    text-align: left; }
    .addPayer__list__item {
      margin-bottom: 1rem;
      display: inline-block;
      margin-left: 1rem;
      font-size: 2rem; }

.addPayment {
  background-color: #00b894; }

.btn {
  width: 15rem;
  height: 3rem;
  text-transform: uppercase; }
  .btn--remove {
    height: 3rem;
    width: 3rem;
    text-align: center;
    margin-left: 0.5rem;
    border-radius: 10px; }
    .btn--remove:hover {
      background-color: #ff7675; }

.input {
  border: 1px solid black;
  border-radius: 1.5rem;
  height: 3rem; }
  .input::-webkit-input-placeholder {
    text-align: center; }
  .input:-moz-placeholder {
    /* Firefox 18- */
    text-align: center; }
  .input::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center; }
  .input:-ms-input-placeholder {
    text-align: center; }

.expense-overview {
  background-color: #81ecec; }

.payerOwed {
  background-color: lightblue; }

.totalSpend {
  background-color: #00cec9; }

.expense {
  background-color: aquamarine; }

.App {
  display: grid;
  grid-template-rows: 10rem 1fr 1fr 10rem;
  grid-template-columns: 10rem 1fr 1fr 10rem;
  grid-template-areas: "margin-top     margin-top      margin-top      margin-top" "margin-left    top-left        top-right       margin-right" "margin-left    bot-left        bot-right       margin-right" "margin-bot     margin-bot      margin-bot      margin-bot";
  width: 100%;
  height: 100vh; }

.addPayer {
  grid-area: top-left; }

.addPayment {
  grid-area: bot-left; }

.expense-overview {
  grid-area: top-right; }

.totalSpend {
  grid-area: bot-right; }
