/*
order for responsive webdesign chages

Base + Typography > general layout + grid > page layout > components

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 62%; } }
  @media (max-width: 900px) {
    html {
      font-size: 55%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 80%; } }

body {
  box-sizing: border-box;
  margin: 0 2rem;
  background-color: #eee; }
  @media (max-width: 900px) {
    body {
      margin: 0 0; } }

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem; }

.header__primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .header__primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 1rem;
    animation: moveInLeft 1s ease-in; }
    @media (max-width: 780px) {
      .header__primary--main {
        letter-spacing: 0.5rem;
        font-size: 5rem; } }
  .header__primary--sub {
    display: block;
    font-weight: 400;
    animation: moveInRight 1s ease-in; }
    @media (max-width: 780px) {
      .header__primary--sub {
        letter-spacing: 5px; } }

.about__header {
  color: #55c57a;
  font-size: 4rem;
  text-align: center; }
  .about__header__text {
    font-weight: 200;
    letter-spacing: 0.75rem; }
    @media (max-width: 900px) {
      .about__header__text {
        letter-spacing: 0.5rem; } }
    @media (max-width: 780px) {
      .about__header__text {
        letter-spacing: 0.25rem; } }
  @media (max-width: 900px) {
    .about__header {
      font-size: 4rem; } }
  @media (max-width: 780px) {
    .about__header {
      font-size: 3.5rem; } }

.header__sub {
  color: #000;
  font-size: 2.5rem;
  font-weight: 100;
  border-bottom: 1px solid black;
  width: 80%;
  margin: 0 auto; }

.headline-info {
  font-size: 2.5rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #414141; }

.u-margin-bot--small {
  margin-bottom: 2rem; }

.u-margin-bot--medium {
  margin-bottom: 4rem; }

.u-margin-bot--large {
  margin-bottom: 12rem; }

.u-margin-bot--huge {
  margin-bottom: 24rem; }

.u-margin-top--small {
  margin-top: 2rem; }

.u-margin-top--medium {
  margin-top: 6rem; }

.u-margin-top--large {
  margin-top: 12rem; }
  @media (max-width: 1200px) {
    .u-margin-top--large {
      margin-top: 8rem; } }
  @media (max-width: 900px) {
    .u-margin-top--large {
      margin-top: 6rem; } }

.addPayer {
  background-color: orange; }

.addPayment {
  background-color: green; }

.btn {
  background-color: green; }

.owedOverview {
  background-color: red; }

.payerOwed {
  background-color: lightblue; }

.totalSpend {
  background-color: orchid; }
